img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
hr{
    margin-bottom: 30px;
  }
.sd{
  color: aliceblue;
  text-align: center;
  text-decoration: underline;
}
.link {
  margin: 0 10px;
  display: inline-block;
  color: aqua;
  text-align: center;
}
.links-container {
  text-align: center;
}
.under{
  text-decoration: underline;
  color: aliceblue;
}
